@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?lm08hw');
  src:  url('fonts/icons.eot?lm08hw#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?lm08hw') format('truetype'),
    url('fonts/icons.woff?lm08hw') format('woff'),
    url('fonts/icons.svg?lm08hw#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linked-in:before {
  content: "\e900";
  color: #fff;
}
.icon-twitter:before {
  content: "\e901";
  color: #fff;
}
.icon-website:before {
  content: "\e902";
  color: #fff;
}
.icon-icon-language:before {
  content: "\1f324";
  color: #4a4a4a;
}
