.footer-container {
    background: #343C3A;
    .footer-block {
        padding-block: 60px;
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -210px;
            right: 0px;
            bottom: 0px;
            background-image: url(src/assets/footer-image.svg);
            background-repeat: no-repeat;
            background-position-y: 23%;
            background-size: 70%;
            z-index: -1;
        }
    }
    .footer-logo {
        width: 600px;
    }
    .footer-btn {
        display: flex;
        align-items: center;
        gap: 60px;
        padding-top: 30px;
        a {
            color: var(--white-color);
            font-family: var(--secondary-font);
            font-size: 16px;
            font-weight: 300;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .footer-text {
        color: var(--white-color);
        font-family: var(--secondary-font);
        font-size: clamp(16px, 3vw, 20px);
        font-weight: 300;
        padding-top: 30px;
    }
    .social-media-block {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
        .social-media-icon {
            font-size: 34px;
            &:hover {
                &::before {
                    color: #53C6A3;
                }
            }
        }
    }
    .copy-right {
        background-color: var(--black-color);
        color: var(--white-color);
        font-size: 16px;
        font-weight: 300;
        font-family: var(--primary-font);
        padding: 20px;
        position: relative;
        z-index: 2;
    }
}

@media (max-width: 820px) {
    .footer-container {
        background-image: url(src/assets/footer-image.svg);
        background-repeat: no-repeat;
        background-size: cover;
        .footer-block {
            padding-block: 60px;
            &::before {
                background-image: unset;
            }
        }
        .footer-btn {
            padding-top: 30px;
        }
    }
}

@media (max-width: 576px) {
    .footer-container {
        background-position-x: 60px;
        .footer-block {
            padding-block: 30px;
        }
        .footer-logo {
            width: 250px;
        }
        .footer-btn {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }
}